.header {
  padding: 10px 0px;
  .headerContent{
    display: flex;
    align-items: center;
  }
  .headerMenuLeft {
    display: flex;
    width: calc(50% - 50px);
    .logo {
      max-width: 70px;
      margin-right: 10px;
      padding-right: 10px;
    }
  }
  .headerMenuRight{
    display: flex;
    justify-content: flex-end;
    width: calc(50% - 50px);
    .listItem{
      display: flex;
      justify-content: flex-end;
    }
    .item{
      margin-right: 20px;
      &:last-child{
        margin-right:0;
        display: flex;
      }
    }
  }
  .mainLogo{
    width: 100px;
    padding: 0 15px;
  }
  
}

