.rowSlideShow{
  display: flex;
  align-items: center;
  .slideShowSmall{
    max-width:100px;
    :global{
      .slick-track{
        height: auto !important;
      }
    }
    .slideShowSmallImg{
      border-radius:50%;
      cursor: pointer;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
  .slideShowBig{
    max-width:400px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 10px 5px 10px;
    .slideShowBigImg{
      border-radius: 12px;
      overflow: hidden;
    }
  }
}

// 
.sectionProductDetail{
  margin-bottom: 40px;
  .productInfo{
    .name{
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .price{
      margin-bottom:10px;
      display: flex;
      align-items:flex-end;
    }
    .retailPrice{
      background-color: #DB0007;
      color: white;
      padding: 2px 20px;
      font-size: 28px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .listItemInfo{
      display: flex;
      flex-wrap: wrap;
    }
    .shareSocial{
      display: flex;
      align-items: center;
    }
  }
}
.sectionProductDescription{
  margin-bottom: 40px;
}
.sectionProductComment{
  margin-bottom: 40px;
}
.titleSection{
  text-transform: uppercase;
}