.footer{
  background-color: #222222;
  color:rgba(255,255,255,0.75);
  font-weight: 300;
  .footerLogo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size:20px;
    color: white;
    .footerLogoImage{
      margin-right: 10px;
      max-width:50px;
    }
  }
  .footerTop{
    padding-top:40px;
    padding-bottom: 30px;
  }
  .footerMiddle{
    padding-top:20px;
    padding-bottom: 20px;
    border-top:1px solid #4C4C4C;
  }
  .footerBottom{
    background-color:black;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footerMenu{
    list-style-type: none;
    padding-left: 0;
    > li{
      margin-bottom: 10px;
    }
  }
  .footerMenuType2{
    list-style-type: none;
    padding-left: 0;
    > ul{
      list-style-type: disc;
      padding-left: 25px;
      font-size: 13px;
    }
  }
  .titleMenu{
    margin-bottom:20px;
    font-size:20px;
    color:white;
    margin-top: 10px;
    font-weight: normal;
  }
  .contact{
    margin-bottom: 5px;
    a{
      margin-left: 10px;
    }
  }
}