@import "styles/colors.scss";
// rowSlideShow Promotion
.rowSlideShow {
  position: relative;
  .slideShowSmall {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    :global {
      .slick-slide {
        border-left: 5px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
      }
    }
    .item {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.6);
      font-size: 13px;
      .name {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 14px;
      }
    }
    :global {
      .slick-current {
        background-color: rgba(255, 255, 255, 0.8);
        border-left: 5px solid $primary;
      }
    }
  }
  .slideShowBig {
    width: 100%;
    :global {
      .slick-dots {
        bottom: 10px;
        li button:before {
          color: #c4c4c4;
          opacity: 1;
          font-size: 10px;
        }
        .slick-active button:before {
          color: $primary;
        }
      }
    }
  }
}

.sectionProducts {
  margin-bottom: 80px;
  .sectionProductsHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .sectionProductsTitle {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 20px;
    }
  }
}

// sectionCategory
.sectionCategory {
  background-image: url("/images/bannersp-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 0 10px;
  text-align: center;
  color: white;
  .sectionCategoryTitle {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
  }
  .sectionCategoryContent {
    margin-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .listCategory {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    .item {
      position: relative;
      margin-bottom: 20px;
      .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-transform: uppercase;
        font-size: 16px;
      }
      // .image{
      //   position: relative;
      //   &:before {
      //     display: inline-block;
      //     width: 100%;
      //     height: 100%;
      //     top: 0;
      //     left: 0;
      //     position: absolute;
      //     background-color: rgba(0,0,0,0.5);
      //     content: "",
      //   }
      //   &:after {
      //     display: block;
      //     padding-top:60%;
      //     content: "",
      //   }
      //   img{
      //     width: 100%;
      //     height: 100%;
      //     top: 0;
      //     left: 0;
      //     position: absolute;
      //     object-fit: cover;
      //   }
      // }
    }
  }
}

// slideShowOutstandingFarm
.sectionOutstandingFarm {
  // padding: 0 15px;
  margin-bottom: 30px;
  position: relative;
  .topContent {
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    padding: 20px;
    max-width: 260px;
    h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: calc(100% - 40px);
    background: #f9f9f9;
    top: 0;
    left: 20px;
    z-index: 1;
    position: absolute;
  }
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 40%;
    background: rgba(148, 193, 141, 0.15);
    top: 0;
    right: 20px;
    z-index: 2;
    position: absolute;
  }
}
.slideShowOutstandingFarm {
  padding: 70px 0 40px;
  position: relative;
  z-index: 3;
  min-height: 20vw;
  .error {
    padding-left: 300px;
  }
  .item {
    padding: 0 15px;
  }
  .itemInner {
    position: relative;
    .itemContent {
      position: absolute;
      z-index: 0;
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
      bottom: 20px;
      right: 20px;
      padding: 15px;
      max-width: 270px;
      transition: 0.3s all ease;
    }
    .name {
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 0;
    }
    .totalProducts {
      font-size: 18px;
      font-weight: 300;
      margin-top: 10px;
    }
    .itemImage {
      position: relative;
      z-index: 1;
    }
  }
  .customPaging {
    bottom: auto;
    top: -50px;
    left: calc(33.3333% + 60px);
    transform: translateX(0);
    width: auto;
    li {
      padding: 5px;
      border-radius: 50%;
      border: 1px solid transparent;
      font-size: 0;
      width: auto;
      height: auto;
      &:hover,
      &:focus {
        > div {
          background-color: $primary;
        }
      }
      > div {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #d8d8d8;
        display: inline-block;
        line-height: 1;
      }
    }
    :global {
      .slick-active {
        border: 1px solid $primary;
        > div {
          background-color: $primary;
        }
      }
    }
  }
  :global {
    .slick-active {
      .itemContent {
        z-index: 2;
      }
    }
  }
  .customArrow {
    position: absolute;
    top: -50px;
    left: 66.6666%;
    bottom: auto;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: $primary;
    z-index: 10;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transform: translate(0, 0);
    &:hover,
    &:focus {
      box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 70%);
    }
    &:before {
      display: none;
    }
    &.customArrowNext {
      left: calc(66.6666% + 40px);
    }
  }
  :global {
    .slick-disabled {
      background-color: rgba($primary, 0.3);
      cursor: default;
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}
